nav {
  display: flex;
  justify-content: space-around;
  background-color: #efe1d1;
}
.navbar {
  display: flex;
  text-transform: uppercase;
}
li {
  display: inline-block;
  justify-content: space-between;
  padding: 5px;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
/* about me component */
.about-me {
  display: flex;
  background-color: #159ca2;
  height: 420px;
  justify-content: space-around;
}
#profile-image {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2.5px dashed #b55843;
  padding: 2.5px;
}

section {
  display: flex;
}

/* .profile {
  padding-right: 50px;
} */
/* .intro {
  padding-left: 50px;
} */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewrite {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding-top: 10em;
}
/* .profile-wrapper {
  display: flex;
  flex-direction: column;
} */
.profile {
  padding-left: 100px;
}
.svg-wrapper {
  position: relative;
  transform: translate(20%, 330%);
  transform: translateX(30%);
  margin: 0 auto;
  width: 500px;
}
.shape {
  stroke-dasharray: 100 540;
  stroke-dashoffset: -300;
  stroke-width: 5px;
  fill: transparent;
  stroke: #ff999c;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 5px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

/* TechStack */
.tech_section {
  /* display: flex; */
}
.tech-ul {
  flex-wrap: wrap;
}
